<div ng-controller="TechDevils.DashboardController">
    <umb-panel>
        <umb-content id="falm-content">
            <div class="umb-panel-body no-header umb-scrollable with-footer" style="padding: 0 20px;">
                <h3><localize key="TaskScheduler_Dashboard.Title">URLs timing overview</localize></h3>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr style="font-size: 14px !important;">
                                <!--<th style="text-align: center !important; width: 4%;"><localize key="TaskScheduler_Dashboard.Status">Status</localize></th>-->
                                <th style="text-align: center !important; width: 4%;"><localize key="TaskScheduler_Dashboard.Id">Id</localize></th>
                                <th style="width: 45%;"><localize key="TaskScheduler_Dashboard.URL">URL</localize></th>
                                <!--<th style="text-align: center !important; width: 12%;"><localize key="TaskScheduler_Dashboard.Desc">Description</localize></th>
                                <th style="text-align: center !important; width: 12%;"><localize key="TaskScheduler_Dashboard.Freq">Frequency</localize></th>-->
                                <th style="text-align: center !important; width: 12%;"><localize key="TaskScheduler_Dashboard.LastRun">Last Run</localize></th>
                                <th style="text-align: center !important; width: 12%;"><localize key="TaskScheduler_Dashboard.NextRun">Next Run</localize></th>
                                <!--<th style="text-align: center !important; width: 12%;"><localize key="TaskScheduler_Dashboard.LastManualRun">Last Manual Run</localize></th>-->
                                <th style="text-align: center !important; width: 15%;"><localize key="TaskScheduler_Dashboard.LastFiveOutcomes">Last Five Outcomes</localize></th>
                                <th style="text-align: center !important; width: 12%;"><localize key="TaskScheduler_Dashboard.Actions">Actions</localize></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="url in urls" style="font-size: 14px !important; color: #817f85 !important;">
                                <!--<td style="text-align: center !important;">{{url.currentTaskStatus}}</td>-->
                                <td style="text-align: center !important;">{{ url.id }}</td>
                                <td>{{ url.isHttps ? 'https://' + url.url : 'http://' + url.url }}</td>
                                <!--<td>{{ url.desc }}</td>
                                <td>{{ url.feq }}</td>-->
                                <td style="text-align: center !important;">{{ url.lastRun == '0001-01-01T00:00:00' ? '' : url.lastRun | date: 'dd MMM yyyy' }}<br />{{ url.lastRun == '0001-01-01T00:00:00' ? '' : url.lastRun | date: 'h:mm a' }}</td>
                                <td style="text-align: center !important;">{{ url.nextRun | date: 'dd MMM yyyy' }}<br />{{ url.nextRun | date: 'h:mm a' }}</td>
                                <!--<td style="text-align: center !important;">{{ url.lastManualRun | date: 'dd MMM yyyy' }}<br />{{ url.lastManualRun | date: 'h:mm a' }}</td>-->
                                <td style="text-align: center !important;">{{ url.lastFiveOutcomes }}</td>
                                <td style="text-align: center !important;">
                                    <button ng-click="showDetails(url)" class="td-button" style="margin-right: 10px;" title="View Details"><i class="icon-binoculars color-black"></i></button> 
                                    <button ng-click="changeStatus(url.id)" class="td-button" style="margin-right: 10px;" title="Disable/Enable"><i class="icon-globe-alt color-{{url.disabledIcon}}"></i></button> 
                                    <button ng-click="runNowNow(url.id)" class="td-button" title="Run Now"><i class="icon-departure color-brown"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </umb-content>
    </umb-panel>
</div>